Repository microsoft/Qcodes, pull requests merged in 2018-10, with the labels that each got.

#972 [WIP] Driver/lakeshore336 and lakeshore 372
  docs/examples/driver_examples/Qcodes example with Lakeshore 336 or 372 - Bluefors T control.ipynb
  qcodes/instrument/group_parameter.py
  qcodes/instrument/sims/lakeshore_model336.yaml
  qcodes/instrument/sims/lakeshore_model372.yaml
  qcodes/instrument_drivers/Lakeshore/Model_336.py
  qcodes/instrument_drivers/Lakeshore/Model_372.py
  qcodes/instrument_drivers/Lakeshore/lakeshore_base.py
  qcodes/tests/drivers/test_lakeshore.py
  qcodes/utils/validators.py
Labels: driver, enhancement

#1306 DataSaver.add_result 'array' before 'numeric' now works
  qcodes/dataset/measurements.py
  qcodes/tests/dataset/test_measurement_context_manager.py
Labels: bug, new dataset

#1317 Fix typo in log call with exc_info kwarg
  qcodes/instrument/base.py
Labels: bug

#1282 Fix decadac docstring
  docs/examples/driver_examples/Qcodes example with Decadac.ipynb
  qcodes/instrument_drivers/Harvard/Decadac.py
Labels: driver

#1328 Meaningful exception when loading/creating dataset for non-existing run id
  qcodes/dataset/data_set.py
  qcodes/dataset/sqlite_base.py
  qcodes/tests/dataset/test_dataset_basic.py
  qcodes/tests/dataset/test_dataset_loading.py
  qcodes/tests/dataset/test_sqlite_base.py
Labels: enhancement, new dataset

#1329 Fix JSON-dumping of snapshots with numpy-typed values (and other)
  qcodes/dataset/measurements.py
  qcodes/tests/dataset/test_snapshot.py
  qcodes/tests/test_helpers.py
  qcodes/utils/helpers.py
Labels: bug, new dataset

#1334 qcodes.dataset.* fool-proofing and minor fixes
  qcodes/dataset/data_set.py
  qcodes/dataset/experiment_container.py
  qcodes/dataset/measurements.py
  qcodes/dataset/param_spec.py
  qcodes/dataset/sqlite_base.py
  qcodes/tests/dataset/test_dataset_basic.py
  qcodes/tests/dataset/test_experiment_container.py
  qcodes/tests/dataset/test_sqlite_base.py
Labels: bug, enhancement, new dataset

#1309 logging module
  docs/api/public.rst
  docs/conf.py
  docs/examples/Creating Instrument Drivers.ipynb
  docs/examples/Logfile parsing.ipynb
  docs/examples/Main.ipynb
  docs/examples/files/log_analysis.png
  docs/examples/files/logger.png
  docs/examples/index.rst
  docs/examples/logging/logfile_parsing.ipynb
  docs/examples/logging/logging_example.ipynb
  docs/examples/logging/static/pythonlog.zip
  docs_requirements.txt
  environment.yml
  qcodes/config/qcodesrc.json
  qcodes/config/qcodesrc_schema.json
  qcodes/dataset/data_set.py
  qcodes/instrument/base.py
  qcodes/instrument/channel.py
  qcodes/instrument/ip_to_visa.py
  qcodes/instrument/visa.py
  qcodes/instrument_drivers/Lakeshore/lakeshore_base.py
  qcodes/instrument_drivers/american_magnetics/AMI430.py
  qcodes/logger/__init__.py
  qcodes/logger/instrument_logger.py
  qcodes/logger/log_analysis.py
  qcodes/logger/logger.py
  qcodes/tests/drivers/test_ami430.py
  qcodes/tests/drivers/test_lakeshore.py
  qcodes/tests/test_data.py
  qcodes/tests/test_format.py
  qcodes/tests/test_helpers.py
  qcodes/tests/test_logger.py
  qcodes/tests/test_loop.py
  qcodes/utils/deprecate.py
  qcodes/utils/helpers.py
  qcodes/utils/log_analysis.py
  requirements.txt
  setup.py
Labels: enhancement

#1350 Add helper function to get path from conn
  qcodes/dataset/database.py
  qcodes/tests/dataset/test_sqlite_base.py
Labels: new dataset
