Repository microsoft/Qcodes, pull requests merged in 2018-08, with the labels that each got.

#897 Driver/Mercury iPS with VISA
  docs/examples/driver_examples/Qcodes example with Mercury IPS (Magnet).ipynb
  docs/examples/driver_examples/Qcodes example with Mercury iPS.ipynb
  qcodes/instrument/sims/MercuryiPS.yaml
  qcodes/instrument/visa.py
  qcodes/instrument_drivers/oxford/MercuryiPS_VISA.py
  qcodes/math/field_vector.py
  qcodes/tests/drivers/test_MercuryiPS.py
  qcodes/tests/test_deprecate.py
Labels: driver

#1228 driver / add block_during_ramp parameter to AMI430_3D
  qcodes/instrument_drivers/american_magnetics/AMI430.py
  qcodes/tests/drivers/test_ami430.py
Labels: driver

#1225 Make data saver accept numpy type floats/ints
  qcodes/dataset/measurements.py
  qcodes/tests/dataset/test_datasaver.py
Labels: new dataset

#1210 Find or create an instrument without worrying about existing instances
  qcodes/__init__.py
  qcodes/instrument/base.py
  qcodes/tests/test_instrument.py
Labels: enhancement

#1232 GroupParameter and Group (for visa commands that set/get more than one parameter at once)
  qcodes/instrument/group_parameter.py
  qcodes/tests/test_group_parameter.py
Labels: enhancement

#1207 Dataset Context manager. Allow insertion of Data direcly as arrays
  benchmarking/benchmarks/dataset.py
  docs/examples/DataSet/Dataset Performance.ipynb
  docs/examples/DataSet/Paramtypes explained.ipynb
  qcodes/dataset/data_export.py
  qcodes/dataset/data_set.py
  qcodes/dataset/measurements.py
  qcodes/dataset/param_spec.py
  qcodes/tests/dataset/test_measurement_context_manager.py
Labels: enhancement, new dataset

#1240 Do not use sphinx 1.7.7 due to possible sphinx bug with type annotations
  docs_requirements.txt
Labels: docs

#1230 Add new driver for Newport AG-UC8
  docs/examples/driver_examples/Qcodes example with Newport AG-UC8.ipynb
  qcodes/instrument/channel.py
  qcodes/instrument_drivers/Newport/AG_UC8.py
  qcodes/instrument_drivers/Newport/__init__.py
Labels: driver

#1235 Feature / add label to plot_by_id
  docs/Makefile
  docs/examples/DataSet/Dataset Context Manager.ipynb
  docs/examples/DataSet/Implementing_doND_using_the_dataset.ipynb
  docs/examples/DataSet/Load old data.ipynb
  docs/examples/DataSet/Offline Plotting Tutorial.ipynb
  docs/execute_notebooks.cmd
  docs/make.bat
  qcodes/dataset/plotting.py
Labels: enhancement, new dataset

#1246 IVVI add missing underscore in parameter name
  qcodes/instrument_drivers/QuTech/IVVI.py
Labels: bug, driver

#1245 SR86x lockin: get values of many parameters at once
  docs/examples/driver_examples/QCodes_example_with_SR86x_with_buffered_readout.ipynb
  qcodes/instrument_drivers/stanford_research/SR86x.py
Labels: driver
