Repository microsoft/Qcodes, pull requests merged in 2018-11, with the labels that each got.

#1366 MiniCircuits: wrong USB packet size resulting in error on Windows 7
  qcodes/instrument_drivers/Minicircuits/USBHIDMixin.py
Labels: bug, driver

#1363 Snapshot diff and method chaining
  docs/examples/DataSet/Working with snapshots.ipynb
  qcodes/dataset/measurements.py
  qcodes/tests/dataset/test_measurement_context_manager.py
  qcodes/tests/test_metadata.py
  qcodes/utils/metadata.py
Labels: enhancement

#1353 [WIP] Extension/dynamic module
  qcodes/instrument/channel.py
  qcodes/tests/test_autoloadable_channels.py
Labels: enhancement

#1188 add M2j driver
  qcodes/instrument_drivers/QuTech/M2j.py
  qcodes/tests/drivers/test_m2j.py
Labels: driver

#1382 Improvement / dataset metadata
  qcodes/dataset/data_set.py
  qcodes/dataset/sqlite_base.py
  qcodes/tests/dataset/test_dataset_basic.py
  qcodes/tests/dataset/test_sqlite_base.py
Labels: new dataset

#1386 DataSet.get_data bugs with start/end arguments
  qcodes/dataset/sqlite_base.py
  qcodes/tests/dataset/test_dataset_basic.py
Labels: bug, new dataset

#1387 Fix unclarity about post_delay/inter_delay of Parameter, remove deprecated get/set delay and get/set step
  qcodes/instrument/parameter.py
Labels: docs

#1218 Driver / DynaCool PPMS
  docs/Makefile
  docs/conf.py
  docs/examples/driver_examples/Qcodes example with DynaCool PPMS.ipynb
  docs/make.bat
  qcodes/instrument_drivers/QuantumDesign/DynaCoolPPMS/DynaCool.py
  qcodes/instrument_drivers/QuantumDesign/DynaCoolPPMS/__init__.py
  qcodes/instrument_drivers/QuantumDesign/DynaCoolPPMS/private/__init__.py
  qcodes/instrument_drivers/QuantumDesign/DynaCoolPPMS/private/commandhandler.py
  qcodes/instrument_drivers/QuantumDesign/DynaCoolPPMS/private/server.py
  qcodes/instrument_drivers/QuantumDesign/__init__.py
Labels: driver

#1396 Add function to fix wrong descriptions
  .appveyor.yml
  .travis.yml
  azure-pipelines.yml
  qcodes/dataset/sqlite_base.py
  qcodes/tests/dataset/legacy_DB_generation/generate_version_3.py
  qcodes/tests/dataset/legacy_DB_generation/utils.py
  qcodes/tests/dataset/test_database_fixes.py
Labels: bug, new dataset

#1333 driver / SR830 : add the snap XY command to read X and Y together
  qcodes/instrument_drivers/stanford_research/SR830.py
Labels: driver

#1389 Fix bug where atomic and ConnectionPlus might not commit to database (+ fix DataSet.unsubscribe) (+ deprecate DataSet modify_results, modify_result, add_parameter_values)
  .gitignore
  qcodes/dataset/data_set.py
  qcodes/dataset/database.py
  qcodes/dataset/sqlite_base.py
  qcodes/tests/dataset/test_database_creation_and_upgrading.py
  qcodes/tests/dataset/test_database_fixes.py
  qcodes/tests/dataset/test_dataset_basic.py
  qcodes/tests/dataset/test_sqlite_connection.py
  qcodes/tests/dataset/test_subscribing.py
Labels: bug, enhancement, new dataset

#1390 Driver/stahl
  docs/examples/driver_examples/Qcodes example with Stahl.ipynb
  qcodes/instrument/sims/stahl.yaml
  qcodes/instrument_drivers/stahl/__init__.py
  qcodes/instrument_drivers/stahl/stahl.py
  qcodes/tests/drivers/test_stahl.py
Labels: driver

#1404 Use log instead of print in AWG70000A driver
  qcodes/instrument_drivers/tektronix/AWG70000A.py
Labels: driver

#1381 Driver/awg5014 upload lomentum sequence
  qcodes/instrument_drivers/tektronix/AWG5014.py
Labels: driver, enhancement
