Repository microsoft/Qcodes, pull requests merged in 2018-07, with the labels that each got.

#1172 Fix bugs in warning message
  qcodes/dataset/plotting.py
Labels: bug, new dataset

#1173 Log the instrument that a failed parameter update comes from.
  qcodes/instrument/base.py
Labels: enhancement

#1160 Standford Research SR860 lock-in amplifier driver improvements
  docs/examples/driver_examples/QCodes_example_with_SR86x_with_buffered_readout.ipynb
  qcodes/instrument_drivers/stanford_research/SR86x.py
Labels: bug, driver

#1171 Keithley 2400 protect read commands
  qcodes/instrument_drivers/tektronix/Keithley_2400.py
Labels: bug, driver

#1187 Datasaver save speed
  qcodes/dataset/data_set.py
  qcodes/dataset/sqlite_base.py
  qcodes/tests/common.py
Labels: enhancement, new dataset

#1182 Dont assign to instrument property
  qcodes/instrument_drivers/AlazarTech/ATS9870.py
  qcodes/instrument_drivers/AlazarTech/utils.py
Labels: bug, driver

#1202 Setup benchmarking and add simple dataset benchmark
  .gitignore
  .travis.yml
  benchmarking/README.rst
  benchmarking/asv.conf.json
  benchmarking/benchmarks/__init__.py
  benchmarking/benchmarks/dataset.py
  test_requirements.txt
Labels: enhancement

#1128 Add set_parameter_bounds to IVVI.py
  qcodes/instrument_drivers/QuTech/IVVI.py
Labels: driver, enhancement

#1189 update docstrings in F1d driver
  qcodes/instrument_drivers/QuTech/F1d.py
Labels: driver

#1069 Add paramterScaler with an usage example and deprecate VoltageDivider
  docs/examples/Scaled Parameter.ipynb
  qcodes/__init__.py
  qcodes/instrument/parameter.py
  qcodes/tests/test_parameter.py
Labels: enhancement

#1212 Reorder initialization of IVVI
  qcodes/instrument_drivers/QuTech/IVVI.py
Labels: bug, driver

#1209 Bug: snapshot fails when instantiating InstrumentBase
  qcodes/instrument/base.py
  qcodes/instrument/channel.py
  qcodes/tests/test_instrument.py
Labels: bug

#1211 Add some minor DataSet conveniences
  qcodes/__init__.py
  qcodes/dataset/data_set.py
  qcodes/dataset/database.py
  qcodes/dataset/experiment_container.py
  qcodes/dataset/sqlite_base.py
  qcodes/tests/dataset/test_dataset_basic.py
  qcodes/tests/dataset/test_dataset_loading.py
  qcodes/tests/dataset/test_experiment_container.py
Labels: enhancement
