Repository microsoft/Qcodes, pull requests merged in 2019-05, with the labels that each got.

#1554 add parameter for Keysight E8267D IQ modulator
  qcodes/instrument_drivers/Keysight/Keysight_E8267D.py
Labels: driver

#1559 Cryocon / Allow setting termination character
  qcodes/instrument_drivers/cryocon/cryocon_26.py
Labels: bug, driver

#1558 AMI430 driver: fix using numeric field_limit
  qcodes/instrument_drivers/american_magnetics/AMI430.py
  qcodes/tests/drivers/test_ami430.py
  qcodes/utils/types.py
Labels: bug, driver

#1524 Alazar Driver: Add api instance as initialization parameter
  qcodes/instrument_drivers/AlazarTech/ATS.py
  qcodes/instrument_drivers/AlazarTech/dll_wrapper.py
Labels: driver

#1560 Extend QCoDeS-Station to be configurable through yaml file
  docs/community/objects.rst
  docs/examples/Configuring_QCoDeS.ipynb
  docs/examples/DataSet/Dataset Context Manager.ipynb
  docs/examples/DataSet/Working with snapshots.ipynb
  docs/examples/Station.ipynb
  environment.yml
  qcodes/__init__.py
  qcodes/config/qcodesrc.json
  qcodes/config/qcodesrc_schema.json
  qcodes/dataset/descriptions.py
  qcodes/instrument/parameter.py
  qcodes/station.py
  qcodes/tests/dataset/test_descriptions.py
  qcodes/tests/test_config.py
  qcodes/tests/test_parameter.py
  qcodes/tests/test_station.py
  qcodes/utils/helpers.py
  requirements.txt
  setup.py
Labels: enhancement

#1527 AMI430: fix coil_constant-related bugs of current- and field- parameters
  qcodes/instrument/sims/AMI430.yaml
  qcodes/instrument_drivers/american_magnetics/AMI430.py
  qcodes/tests/drivers/test_ami430.py
Labels: bug, driver

#1570 Reorganization of sqlite_base.py
  benchmarking/benchmarks/dataset.py
  docs/examples/DataSet/Extracting runs from one DB file to another.ipynb
  docs/examples/DataSet/subscriber json exporter.ipynb
  qcodes/__init__.py
  qcodes/dataset/data_export.py
  qcodes/dataset/data_set.py
  qcodes/dataset/database.py
  qcodes/dataset/database_extract_runs.py
  qcodes/dataset/database_fix_functions.py
  qcodes/dataset/dependencies.py
  qcodes/dataset/experiment_container.py
  qcodes/dataset/sqlite/__init__.py
  qcodes/dataset/sqlite/connection.py
  qcodes/dataset/sqlite/database.py
  qcodes/dataset/sqlite/db_upgrades/__init__.py
  qcodes/dataset/sqlite/db_upgrades/upgrade_2_to_3.py
  qcodes/dataset/sqlite/db_upgrades/upgrade_3_to_4.py
  qcodes/dataset/sqlite/db_upgrades/version.py
  qcodes/dataset/sqlite/initial_schema.py
  qcodes/dataset/sqlite/queries.py
  qcodes/dataset/sqlite/query_helpers.py
  qcodes/dataset/sqlite/settings.py
  qcodes/dataset/sqlite_base.py
  qcodes/tests/dataset/temporary_databases.py
  qcodes/tests/dataset/test_database_creation_and_upgrading.py
  qcodes/tests/dataset/test_database_extract_runs.py
  qcodes/tests/dataset/test_dataset_basic.py
  qcodes/tests/dataset/test_experiment_container.py
  qcodes/tests/dataset/test_fix_functions.py
  qcodes/tests/dataset/test_measurement_context_manager.py
  qcodes/tests/dataset/test_sqlite_base.py
  qcodes/tests/dataset/test_sqlite_connection.py
  qcodes/tests/dataset/test_subscribing.py
Labels: enhancement, new dataset
