Repository microsoft/Qcodes, pull requests merged in 2019-07, with the labels that each got.

#1498 Use perf_counter, not monotonic for DB flushing
  qcodes/dataset/measurements.py
Labels: new dataset

#1622 Add a method on the channel parameter to check if it is closed.
  qcodes/instrument/sims/Keithley_s46.yaml
  qcodes/instrument_drivers/tektronix/Keithley_s46.py
  qcodes/tests/drivers/test_keithley_s46.py
Labels: driver

#1628 Tektronix AWG 70000 5028 resolution docstrings
  qcodes/.coveragerc
  qcodes/instrument_drivers/tektronix/AWG70000A.py
  qcodes/tests/drivers/test_tektronix_AWG5208.py
Labels: driver

#1630 Docs examples
  docs/examples/Configuring_QCoDeS.ipynb
  docs/examples/Station.ipynb
Labels: docs
