Repository microsoft/Qcodes, pull requests merged in 2019-04, with the labels that each got.

#1523 Alazar add get/set parameter
  qcodes/instrument_drivers/AlazarTech/ats_api.py
  qcodes/instrument_drivers/AlazarTech/constants.py
Labels: driver

#1526 Lakeshore Model 336: make runnable, add minimal test, and fixes along the way
  qcodes/instrument_drivers/Lakeshore/Model_336.py
  qcodes/instrument_drivers/Lakeshore/Model_372.py
  qcodes/instrument_drivers/Lakeshore/lakeshore_base.py
  qcodes/tests/drivers/test_lakeshore.py
  qcodes/tests/drivers/test_lakeshore_336.py
Labels: bug, driver

#1517 Update logger docs
  qcodes/logger/__init__.py
  qcodes/logger/instrument_logger.py
  qcodes/logger/log_analysis.py
  qcodes/logger/logger.py
Labels: docs

#1507 Driver/gentec maestro
  docs/examples/driver_examples/Qcodes example with Gentec Maestro.ipynb
  qcodes/instrument_drivers/Gentec/Gentec_Maestro.py
  qcodes/instrument_drivers/Gentec/__init__.py
Labels: driver

#1534 Driver: ziuhfli - demod{}_harmonic now return int
  qcodes/instrument_drivers/ZI/ZIUHFLI.py
Labels: bug, driver

#1477 Dev/move deps to interdependencies
  qcodes/dataset/data_set.py
  qcodes/dataset/database_extract_runs.py
  qcodes/dataset/dependencies.py
  qcodes/dataset/descriptions.py
  qcodes/dataset/measurements.py
  qcodes/dataset/param_spec.py
  qcodes/tests/dataset/dataset_fixtures.py
  qcodes/tests/dataset/test_database_fixes.py
  qcodes/tests/dataset/test_datasaver.py
  qcodes/tests/dataset/test_dataset_basic.py
  qcodes/tests/dataset/test_dependencies.py
  qcodes/tests/dataset/test_experiment_container.py
  qcodes/tests/dataset/test_measurement_context_manager.py
  qcodes/tests/dataset/test_paramspec.py
  qcodes/tests/dataset/test_plotting.py
  qcodes/tests/dataset/test_snapshot.py
  qcodes/tests/dataset/test_string_data.py
Labels: new dataset
