Repository microsoft/Qcodes, pull requests merged in 2019-10, with the labels that each got.

#1704 KeysightB1500: Add CMU phase compensation, open/short/load correction, and self calibration
  docs/examples/driver_examples/Qcodes example with Keysight B1500 Parameter Analyzer.ipynb
  qcodes/instrument_drivers/Keysight/keysightb1500/KeysightB1500.py
  qcodes/instrument_drivers/Keysight/keysightb1500/KeysightB1500_module.py
  qcodes/instrument_drivers/Keysight/keysightb1500/KeysightB1520A.py
  qcodes/instrument_drivers/Keysight/keysightb1500/constants.py
  qcodes/instrument_drivers/Keysight/keysightb1500/message_builder.py
  qcodes/tests/drivers/keysight_b1500/b1500_driver_tests/test_b1500.py
  qcodes/tests/drivers/keysight_b1500/b1500_driver_tests/test_b1500_module.py
  qcodes/tests/drivers/keysight_b1500/b1500_driver_tests/test_b1520a_cmu.py
  qcodes/tests/drivers/keysight_b1500/test_MessageBuilder.py
Labels: driver

#1746 Lakeshore Model 372: include heater submodules into snapshot, don't snapshot blocking_t parameter, add output parameter to heaters
  qcodes/instrument_drivers/Lakeshore/Model_372.py
  qcodes/instrument_drivers/Lakeshore/lakeshore_base.py
Labels: driver

#1771 Fix example notebooks: station and QCoDeS config
  docs/examples/Configuring_QCoDeS.ipynb
  docs/examples/Station.ipynb
Labels: docs

#1741 Add name parameter to Measurement class
  qcodes/dataset/measurements.py
  qcodes/tests/dataset/test_measurement_context_manager.py
Labels: new dataset

#1763 AimTTi PL601-P Power Supply Driver
  docs/examples/driver_examples/QCoDeS example with Aim TTi PL601-P.ipynb
  qcodes/instrument/sims/AimTTi_PL601P.yaml
  qcodes/instrument_drivers/AimTTi/AimTTi_PL601P_channels.py
  qcodes/instrument_drivers/AimTTi/__init__.py
  qcodes/tests/drivers/test_AimTTİ_PL601P.py
Labels: driver

#1779 Remove outdated documents: Tutorial
  docs/user/index.rst
  docs/user/intro.rst
  docs/user/tutorial.rst
Labels: docs

#1781 Fix broken link to notebook in parameter module
  qcodes/instrument/parameter.py
Labels: docs

#1777 Fix example notebooks: Context Manager, Dataset Performance and Extract Runs
  docs/examples/DataSet/Dataset Context Manager.ipynb
  docs/examples/DataSet/Dataset_Performance.ipynb
  docs/examples/DataSet/Extracting-runs-from-one-DB-file-to-another.ipynb
Labels: docs

#1789 Use set_cache instead of _save_val and setting raw_value attribute in Keysight B1500 driver
  qcodes/instrument_drivers/Keysight/keysightb1500/KeysightB1500.py
  qcodes/instrument_drivers/Keysight/keysightb1500/KeysightB1517A.py
Labels: driver
