Repository microsoft/Qcodes, pull requests merged in 2019-09, with the labels that each got.

#1696 Keysight b1500: Edit example notebook to set averaging during sampling measurement.
  docs/examples/driver_examples/Qcodes example with Keysight B1500 Parameter Analyzer.ipynb
Labels: docs

#1697 Fix reference to method in error message in alazar
  qcodes/instrument_drivers/AlazarTech/ATS.py
Labels: driver

#1691 Fix docstrings in qcodes.instrument: visa, channel, base
  qcodes/instrument/base.py
  qcodes/instrument/channel.py
  qcodes/instrument/visa.py
  qcodes/instrument_drivers/Gentec/Gentec_Maestro.py
Labels: docs

#1599 BugFix: _update_units in AMI430
  qcodes/instrument_drivers/american_magnetics/AMI430.py
  qcodes/tests/drivers/test_ami430.py
Labels: bug, driver

#1693 Highlevel tutorial for beginner
  docs/examples/15_minutes_to_QCoDeS.ipynb
  docs/examples/files/Schematic_Overview_Qcodes.png
  docs/index.rst
Labels: docs

#1699 Yokogawa GS200: Exclude/Include snapshot depending on mode
  qcodes/instrument_drivers/yokogawa/GS200.py
Labels: driver

#1702 Fix docs in qcodes.logger: instrument_logger, log_analysis, logger
  qcodes/logger/__init__.py
  qcodes/logger/instrument_logger.py
  qcodes/logger/log_analysis.py
  qcodes/logger/logger.py
Labels: docs

#1703 Link tutorial to "Getting started", "README"
  README.rst
  docs/index.rst
  docs/start/index.rst
Labels: docs

#1711 Lakeshore 325: adding two attri: resistance and heater_output
  docs/examples/driver_examples/Qcodes example with Lakeshore 325.ipynb
  qcodes/instrument_drivers/Lakeshore/Model_325.py
Labels: driver

#1700 Fix docstrings: math.field_vector, monitor.monitor and .station
  qcodes/math/field_vector.py
  qcodes/monitor/monitor.py
  qcodes/station.py
Labels: docs

#1720 Make DataSet.paramspecs always return ParamSpec's
  qcodes/dataset/data_set.py
Labels: new dataset

#1732 Bug: create_on_off_val_mapping doesn't work for 1/0 values
  qcodes/tests/test_helpers.py
  qcodes/utils/helpers.py
Labels: bug

#1684 Keithley 2600 Driver: Implement time trace and autorange
  docs/examples/driver_examples/Qcodes example with Keithley 2600.ipynb
  qcodes/instrument/sims/Keithley_2600.yaml
  qcodes/instrument_drivers/tektronix/Keithley_2600_channels.py
  qcodes/tests/drivers/test_keithley_26xx.py
Labels: driver

#1725 User-facing api docs: utils: plotting, slack, threading, validator, zmq_helpers
  qcodes/utils/plotting.py
  qcodes/utils/slack.py
  qcodes/utils/threading.py
  qcodes/utils/validators.py
  qcodes/utils/zmq_helpers.py
Labels: docs
