Repository microsoft/Qcodes, pull requests merged in 2019-12, with the labels that each got.

#1813 Fix remaining notebooks in dataset folder
  docs/dataset/introduction.rst
  docs/examples/15_minutes_to_QCoDeS.ipynb
  docs/examples/DataSet/Accessing-data-in-DataSet.ipynb
  docs/examples/DataSet/DataSet-class-walkthrough.ipynb
  docs/examples/DataSet/Dataset Context Manager.ipynb
  docs/examples/DataSet/Implementing_doND_using_the_dataset.ipynb
  docs/examples/DataSet/Linking to parent datasets.ipynb
  docs/examples/DataSet/Performing-measurements-using-qcodes-parameters-and-dataset.ipynb
  docs/examples/DataSet/The-Experiment-Container.ipynb
  docs/examples/DataSet/Working with snapshots.ipynb
  docs/examples/DataSet/Working-With-Pandas-and-XArray.ipynb
Labels: docs

#1875 Close instruments properly in tests
  qcodes/tests/drivers/test_keithley_s46.py
  qcodes/tests/test_snapshot.py
  qcodes/tests/test_visa.py
Labels: bug

#1861 fix the lakeshore325 sensor status bug, and add two missing commas in the driver
  qcodes/instrument_drivers/Lakeshore/Model_325.py
  qcodes/tests/drivers/test_lakeshore_325.py
Labels: bug, driver

#1877 Feature Rohde-Schwarz.ZNB: adjust timeout automatically to measurement time during data acquisition
  qcodes/instrument_drivers/rohde_schwarz/ZNB.py
Labels: driver
