Repository microsoft/Qcodes, pull requests merged in 2020-04, with the labels that each got.

#1972 Fix rendering of bullet-point lists in docs
  docs/examples/15_minutes_to_QCoDeS.ipynb
  docs/examples/Parameters/Parameters.ipynb
Labels: docs

#1977 Remove deprecated community drivers that are in qcodes_contrib_drivers
  docs/Makefile
  docs/changes/0.14.0.rst
  docs/changes/index.rst
  docs/examples/driver_examples/Qcodes example with Gentec Maestro.ipynb
  docs/make.bat
  mypy.ini
  qcodes/instrument_drivers/Advantech/PCIE_1751.py
  qcodes/instrument_drivers/Advantech/__init__.py
  qcodes/instrument_drivers/Advantech/_bdaqctrl.h
  qcodes/instrument_drivers/Gentec/Gentec_Maestro.py
  qcodes/instrument_drivers/Gentec/__init__.py
  qcodes/instrument_drivers/Keysight/Keysight_E8267D.py
  qcodes/instrument_drivers/Keysight/M3201A.py
  qcodes/instrument_drivers/Keysight/M3300A.py
  qcodes/instrument_drivers/Newport/AG_UC8.py
  qcodes/instrument_drivers/Newport/__init__.py
  qcodes/instrument_drivers/QuTech/D4.py
  qcodes/instrument_drivers/QuTech/D5a.py
  qcodes/instrument_drivers/QuTech/F1d.py
  qcodes/instrument_drivers/QuTech/IVVI.py
  qcodes/instrument_drivers/QuTech/M2j.py
  qcodes/instrument_drivers/QuTech/S5i.py
  qcodes/instrument_drivers/QuTech/__init__.py
  qcodes/instrument_drivers/Spectrum/M4i.py
  qcodes/instrument_drivers/Spectrum/README.md
  qcodes/instrument_drivers/Spectrum/__init__.py
  qcodes/instrument_drivers/Spectrum/py_header/__init__.py
  qcodes/instrument_drivers/Spectrum/py_header/regs.py
  qcodes/instrument_drivers/Spectrum/py_header/spcerr.py
  qcodes/instrument_drivers/Spectrum/pyspcm.py
  qcodes/instrument_drivers/ZI/ZIHDAWG8.py
  qcodes/instrument_drivers/cryocon/cryocon_26.py
  qcodes/instrument_drivers/cryogenic/CryogenicSMS120C.py
  qcodes/instrument_drivers/oxford/ILM200.py
  qcodes/instrument_drivers/oxford/IPS120.py
  qcodes/instrument_drivers/oxford/kelvinox.py
  qcodes/instrument_drivers/rohde_schwarz/HMC8041.py
  qcodes/instrument_drivers/rohde_schwarz/HMC8042.py
  qcodes/instrument_drivers/rohde_schwarz/HMC8043.py
  qcodes/instrument_drivers/rohde_schwarz/SMR40.py
  qcodes/instrument_drivers/stanford_research/SIM928.py
  qcodes/instrument_drivers/tektronix/AWG520.py
  qcodes/instrument_drivers/tektronix/Keithley_2700.py
  qcodes/tests/drivers/test_m2j.py
  qcodes/tests/drivers/test_zihdawg8.py
  qcodes/utils/deprecate.py
Labels: docs, driver

#1987 Keysight B1500: Coerce nplc to integer
  qcodes/instrument_drivers/Keysight/keysightb1500/KeysightB1500_base.py
Labels: driver
