Repository microsoft/Qcodes, pull requests merged in 2020-06, with the labels that each got.

#2027 B1500 testing improvements
  qcodes/instrument/sims/keysight_b1500.yaml
  qcodes/instrument_drivers/Keysight/keysightb1500/KeysightB1520A.py
  qcodes/tests/drivers/keysight_b1500/b1500_driver_tests/test_b1500.py
Labels: driver

#2023 B1500: Transient fix for converting str as '-0.-1' to float
  qcodes/instrument_drivers/Keysight/keysightb1500/KeysightB1500_module.py
  qcodes/instrument_drivers/Keysight/keysightb1500/KeysightB1520A.py
  qcodes/tests/drivers/keysight_b1500/b1500_driver_tests/test_b1500_module.py
Labels: driver

#1970 Add new methods to keithley 2450 driver
  docs/examples/driver_examples/Qcodes example with keithley 2450.ipynb
  qcodes/instrument/sims/Keithley_2450.yaml
  qcodes/instrument_drivers/tektronix/Keithley_2450.py
Labels: driver

#2041 Improved error handling of B1500 driver
  qcodes/instrument/sims/keysight_b1500.yaml
  qcodes/instrument_drivers/Keysight/keysightb1500/KeysightB1500_base.py
  qcodes/instrument_drivers/Keysight/keysightb1500/KeysightB1517A.py
  qcodes/instrument_drivers/Keysight/keysightb1500/KeysightB1520A.py
  qcodes/tests/drivers/keysight_b1500/b1500_driver_tests/test_b1500.py
  qcodes/tests/drivers/keysight_b1500/b1500_driver_tests/test_sampling_measurement.py
Labels: backport needed, driver

#2044 Move sweep parameters of B1520A to CVSweeper class
  qcodes/instrument_drivers/Keysight/keysightb1500/KeysightB1520A.py
  qcodes/tests/drivers/keysight_b1500/b1500_driver_tests/test_b1520a_cmu.py
Labels: backport needed, driver

#2048 typing extensions is a dependency
  setup.py
Labels: backport needed

#2047 B1520A: CVSweepMeasurement class works with all impedance models
  qcodes/instrument_drivers/Keysight/keysightb1500/KeysightB1500_module.py
  qcodes/instrument_drivers/Keysight/keysightb1500/KeysightB1520A.py
  qcodes/instrument_drivers/Keysight/keysightb1500/constants.py
  qcodes/tests/drivers/keysight_b1500/b1500_driver_tests/test_b1500_module.py
  qcodes/tests/drivers/keysight_b1500/b1500_driver_tests/test_b1520a_cmu.py
Labels: backport needed, driver

#2050 B1517A, B1520A: Add StatusMixin class
  docs/examples/driver_examples/Qcodes example with Keysight B1500 Parameter Analyzer.ipynb
  qcodes/instrument_drivers/Keysight/keysightb1500/KeysightB1500_base.py
  qcodes/instrument_drivers/Keysight/keysightb1500/KeysightB1500_module.py
  qcodes/instrument_drivers/Keysight/keysightb1500/KeysightB1500_sampling_measurement.py
  qcodes/instrument_drivers/Keysight/keysightb1500/KeysightB1520A.py
  qcodes/instrument_drivers/Keysight/keysightb1500/constants.py
  qcodes/tests/drivers/keysight_b1500/b1500_driver_tests/test_sampling_measurement.py
Labels: backport needed, driver

#2049 B1517A/1520A: Add get_cmd for sweep_auto_abort and post_sweep_auto_abort
  qcodes/instrument_drivers/Keysight/keysightb1500/KeysightB1517A.py
  qcodes/instrument_drivers/Keysight/keysightb1500/KeysightB1520A.py
  qcodes/tests/drivers/keysight_b1500/b1500_driver_tests/test_b1517a_smu.py
  qcodes/tests/drivers/keysight_b1500/b1500_driver_tests/test_b1520a_cmu.py
Labels: backport needed, driver

#2051 B1500: Add measurement status to current/voltage parameters of B1517A SMU for spot measurements
  docs/examples/driver_examples/Qcodes example with Keysight B1500 Parameter Analyzer.ipynb
  qcodes/instrument_drivers/Keysight/keysightb1500/KeysightB1500_base.py
  qcodes/instrument_drivers/Keysight/keysightb1500/KeysightB1500_module.py
  qcodes/instrument_drivers/Keysight/keysightb1500/KeysightB1517A.py
  qcodes/tests/drivers/keysight_b1500/b1500_driver_tests/test_b1517a_smu.py
Labels: backport needed, driver

#2052 add a few system functions to the 2450 driver
  qcodes/instrument_drivers/tektronix/Keithley_2450.py
Labels: backport needed, driver
