Repository microsoft/Qcodes, pull requests merged in 2020-10, with the labels that each got.

#2265 Fix header levels in example notebooks
  docs/examples/driver_examples/Qcodes example with Keithley 7510.ipynb
  docs/examples/driver_examples/Qcodes example with Keysight 34980A Switch Mainframe and Modules.ipynb
Labels: docs

#2290 add basic automatic merge work flow
  .github/workflows/automerge.yaml
Labels: automerge

#2263 Notebook: ParameterWithSetpoints for buffered sweep
  docs/examples/Parameters/Parameter-With-Setpoints-defined-on-a-different-instrument.ipynb
Labels: automerge, docs

#2272 Station example doc: update update_config_schema example to refer to qcodes_contrib_drivers
  docs/examples/Station.ipynb
Labels: automerge, docs

#2291 AMI430 remove has_current_rating that does not work with new firmware versions
  qcodes/instrument_drivers/american_magnetics/AMI430.py
Labels: automerge

#2289 expand docs requirements
  docs_requirements.txt
Labels: automerge

#2258 ATS9440
  qcodes/instrument_drivers/AlazarTech/ATS.py
  qcodes/instrument_drivers/AlazarTech/ATS9440.py
Labels: automerge, driver

#2308 sync dependency of zipp here with other reqirements files
  docs_requirements.txt
Labels: automerge

#2278 Keysight B1511B Driver
  qcodes/instrument/sims/keysight_b1500.yaml
  qcodes/instrument_drivers/Keysight/keysightb1500/KeysightB1500_base.py
  qcodes/instrument_drivers/Keysight/keysightb1500/KeysightB1511B.py
  qcodes/instrument_drivers/Keysight/keysightb1500/KeysightB1517A.py
  qcodes/tests/drivers/keysight_b1500/b1500_driver_tests/test_b1500.py
  qcodes/tests/drivers/keysight_b1500/b1500_driver_tests/test_b1511b_smu.py
  qcodes/tests/drivers/keysight_b1500/b1500_driver_tests/test_b1517a_smu.py
Labels: automerge, driver

#2312 AMI 430: dont test deprecated kwarg
  qcodes/tests/drivers/test_ami430.py
Labels: automerge

#2313 Allow string and time/datetime data to be storred in array measurements
  qcodes/dataset/measurements.py
  qcodes/tests/dataset/test_string_data.py
Labels: automerge

#2304 Updates to allow pyvisa 1.11 dependency
  docs_requirements.txt
  qcodes/instrument/visa.py
  qcodes/instrument_drivers/QDev/QDac.py
  qcodes/instrument_drivers/QDev/QDac_channels.py
  qcodes/instrument_drivers/QDevil/QDevil_QDAC.py
  qcodes/instrument_drivers/QuantumDesign/DynaCoolPPMS/DynaCool.py
  qcodes/instrument_drivers/stahl/stahl.py
  qcodes/instrument_drivers/tektronix/Keithley_2600.py
  qcodes/tests/test_visa.py
  qcodes/tests/test_wrong_address.py
  requirements.txt
  setup.py
  test_requirements.txt
Labels: automerge

#2318 Keithley3706A: improvements / warnings cleanup
  qcodes/instrument_drivers/tektronix/Keithley_3706A.py
Labels: automerge, driver

#2322 Filter out telemetry messages in console handler
  qcodes/logger/logger.py
Labels: automerge

#2323 Docs: add title to home page, and make version bar appear
  docs/conf.py
  docs/index.rst
Labels: automerge, docs

#2315 Remove deprecated keithley 2600 driver
  docs/examples/driver_examples/Qcodes example with Agilent 34400A.ipynb
  docs/examples/driver_examples/Qcodes example with Ithaco.ipynb
  qcodes/instrument_drivers/tektronix/Keithley_2600.py
Labels: driver

#2325 remove deprecated keysight 344xxA drivers
  docs/examples/driver_examples/Qcodes example with Keysight 344xxA.ipynb
  qcodes/instrument_drivers/Keysight/Keysight_34460A.py
  qcodes/instrument_drivers/Keysight/Keysight_34461A.py
  qcodes/instrument_drivers/Keysight/Keysight_34465A.py
  qcodes/instrument_drivers/Keysight/Keysight_34470A.py
  qcodes/instrument_drivers/Keysight/private/Keysight_344xxA.py
Labels: driver

#2314 Remove deprecated qdac driver
  qcodes/instrument_drivers/QDev/QDac.py
  qcodes/instrument_drivers/QDev/QDac_channels.py
Labels: automerge, driver

#2317 Use the full names when registering multiparameters
  docs/changes/0.20.0.rst
  docs/changes/index.rst
  docs/examples/DataSet/Performing-measurements-using-qcodes-parameters-and-dataset.ipynb
  qcodes/dataset/measurements.py
  qcodes/tests/dataset/test_data_set_cache.py
  qcodes/tests/dataset/test_measurement_context_manager.py
Labels: automerge

#2336 Qdac drivers: Don't check return from visa write
  qcodes/instrument_drivers/QDev/QDac_channels.py
  qcodes/instrument_drivers/QDevil/QDevil_QDAC.py
Labels: backport needed, bug

#2334 remove deprecated hp33210a driver
  qcodes/instrument_drivers/agilent/HP33210A.py
Labels: driver

#2335 remove deprecated awg5200 driver
  qcodes/instrument_drivers/tektronix/AWG5200.py
Labels: driver

#2340 Complete typing of lakeshore drivers
  qcodes/instrument_drivers/Lakeshore/Model_325.py
  qcodes/instrument_drivers/Lakeshore/Model_336.py
  qcodes/instrument_drivers/Lakeshore/Model_372.py
  qcodes/instrument_drivers/Lakeshore/lakeshore_base.py
  setup.cfg
Labels: driver

#2338 Enforce complete typing of AimTTi and Dynacool drivers
  qcodes/instrument_drivers/AimTTi/AimTTi_PL601P_channels.py
  qcodes/instrument_drivers/QuantumDesign/DynaCoolPPMS/DynaCool.py
  setup.cfg
Labels: driver

#2222 Remove serial jobs on linux
  .github/workflows/pytest.yaml
  azure-pipelines.yml
Labels: automerge

#2337 Add complete types to HP drivers
  qcodes/instrument_drivers/HP/HP8133A.py
  qcodes/instrument_drivers/HP/HP8753D.py
  qcodes/instrument_drivers/HP/HP_83650A.py
  setup.cfg
Labels: driver

#2339 Add complete types of Yokogava and Basel drivers
  qcodes/instrument_drivers/basel/sp983c.py
  qcodes/instrument_drivers/yokogawa/GS200.py
  setup.cfg
Labels: automerge, driver

#2352 Require pyvisa 1.11.1 as a minimum
  setup.py
Labels: backport needed

#2343 change log for patch 0.19.1 release
  docs/changes/0.19.1.rst
  docs/changes/index.rst
Labels: backport needed

#2355 Add complete types to minicircuits drivers
  qcodes/instrument_drivers/Minicircuits/Base_SPDT.py
  qcodes/instrument_drivers/Minicircuits/RC_SP4T.py
  qcodes/instrument_drivers/Minicircuits/RC_SPDT.py
  qcodes/instrument_drivers/Minicircuits/RUDAT_13G_90.py
  qcodes/instrument_drivers/Minicircuits/USBHIDMixin.py
  qcodes/instrument_drivers/Minicircuits/USB_SPDT.py
  setup.cfg
Labels: automerge, driver

#2012 Add explicit method to Invalidate cache
  qcodes/instrument/parameter.py
  qcodes/tests/parameter/test_delegate_parameter.py
  qcodes/tests/parameter/test_parameter_cache.py
Labels: automerge

#2360 fix small typo in variable name
  qcodes/instrument/visa.py
Labels: automerge

#2359 Add compete types to signal hound and agilent drivers
  qcodes/instrument_drivers/agilent/Agilent_34400A.py
  qcodes/instrument_drivers/agilent/E8267C.py
  qcodes/instrument_drivers/agilent/E8527D.py
  qcodes/instrument_drivers/signal_hound/USB_SA124B.py
  setup.cfg
Labels: automerge, driver

#2301 Alazar drivers cleanup
  qcodes/instrument_drivers/AlazarTech/ATS.py
  qcodes/instrument_drivers/AlazarTech/ATS9360.py
  qcodes/instrument_drivers/AlazarTech/ATS9373.py
  qcodes/instrument_drivers/AlazarTech/ATS9440.py
  qcodes/instrument_drivers/AlazarTech/ATS9870.py
Labels: automerge, driver

#2361 Mypy Disallow implicit optional
  qcodes/dataset/data_set.py
  qcodes/dataset/experiment_container.py
  qcodes/dataset/measurements.py
  qcodes/dataset/sqlite/queries.py
  qcodes/instrument/base.py
  qcodes/instrument/channel.py
  qcodes/instrument/group_parameter.py
  qcodes/instrument/mockers/simulated_ats_api.py
  qcodes/instrument/parameter.py
  qcodes/instrument_drivers/AlazarTech/ATS.py
  qcodes/instrument_drivers/Lakeshore/Model_325.py
  qcodes/instrument_drivers/Lakeshore/lakeshore_base.py
  qcodes/instrument_drivers/Minicircuits/USBHIDMixin.py
  qcodes/instrument_drivers/devices.py
  qcodes/instrument_drivers/rohde_schwarz/RTO1000.py
  qcodes/instrument_drivers/signal_hound/USB_SA124B.py
  qcodes/instrument_drivers/stanford_research/SR86x.py
  qcodes/instrument_drivers/tektronix/AWG70000A.py
  qcodes/instrument_drivers/tektronix/Keithley_3706A.py
  qcodes/instrument_drivers/tektronix/keithley_7510.py
  qcodes/instrument_drivers/yokogawa/GS200.py
  qcodes/logger/log_analysis.py
  qcodes/station.py
  qcodes/tests/test_autoloadable_channels.py
  qcodes/utils/validators.py
  setup.cfg
Labels: automerge

#2362 Add full types to ami430 driver
  qcodes/instrument_drivers/american_magnetics/AMI430.py
  setup.cfg
Labels: driver

#2253 Driver for Keysight E4980A LCR meter
  docs/examples/driver_examples/QCoDeS Example with Keysight E4980A LCR meter.ipynb
  qcodes/instrument_drivers/Keysight/keysight_e4980a.py
Labels: automerge, driver

#2366 Update contact to new qcodes alias
  CONTRIBUTING.rst
  docs/help.rst
  setup.py
Labels: automerge

#2365 Add full types to Stanford drivers
  qcodes/instrument_drivers/stanford_research/SG384.py
  qcodes/instrument_drivers/stanford_research/SR560.py
  qcodes/instrument_drivers/stanford_research/SR830.py
  qcodes/instrument_drivers/stanford_research/SR86x.py
  setup.cfg
Labels: automerge

#2363 Update environment.yml versions to reflect those in requirements files
  environment.yml
Labels: automerge

#2368 add types for stahl and weinschel drivers
  qcodes/instrument_drivers/stahl/stahl.py
  qcodes/instrument_drivers/weinschel/Weinschel_8320.py
  setup.cfg
Labels: automerge, driver

#2327 Add traceback of exception during measurement to dataset's metadata
  qcodes/dataset/measurements.py
  qcodes/tests/dataset/test_measurement_context_manager.py
Labels: automerge

#2370 Add "buffer.short_name" for "fill_mode" parameter in Keithley 7510 driver
  qcodes/instrument_drivers/tektronix/keithley_7510.py
Labels: automerge

#2376 Fix error when calling mark_complted twice
  qcodes/dataset/data_set.py
  qcodes/tests/dataset/test_dataset_basic.py
Labels: bug

#2371 Pyvisa back support
  qcodes/instrument/visa.py
  setup.py
Labels: automerge, backport needed

#2375 Type oxford Mercury VISA driver and Triton driver. Deprecate old Mercury driver
  qcodes/instrument_drivers/oxford/MercuryiPS_VISA.py
  qcodes/instrument_drivers/oxford/mercuryiPS.py
  qcodes/instrument_drivers/oxford/triton.py
  setup.cfg
Labels: automerge

#2380 Add types to Rigol drivers
  qcodes/instrument_drivers/rigol/DG1062.py
  qcodes/instrument_drivers/rigol/DG4000.py
  qcodes/instrument_drivers/rigol/DP821.py
  qcodes/instrument_drivers/rigol/DP831.py
  qcodes/instrument_drivers/rigol/DP832.py
  qcodes/instrument_drivers/rigol/DS1074Z.py
  qcodes/instrument_drivers/rigol/DS4000.py
  qcodes/instrument_drivers/rigol/private/DP8xx.py
  setup.cfg
Labels: automerge, driver
