Repository microsoft/Qcodes, pull requests merged in 2021-04, with the labels that each got.

#2902 upgrade importlib metadata to 3.10
  docs_requirements.txt
  requirements.txt
  test_requirements.txt
Labels: dependencies, python

#2377 Update old driver notebooks (Agilent 34400A)
  docs/examples/driver_examples/Qcodes example with Agilent 34400A.ipynb
  docs/examples/driver_examples/Qcodes example with Oxford Triton.ipynb
  docs/examples/files/agilent34400Asetup.png
  docs/examples/files/keithley2600connector.png
Labels: docs

#2707 SP983c Basel IV amplifier remote control
  docs/examples/driver_examples/Qcodes example with Basel SP983c Preamp.ipynb
  qcodes/instrument_drivers/basel/sp983c_remote.py
Labels: driver

#2949 AMI430 3D driver: allow instantiating from names of existing AMI430 instances, next to from AMI430 instances only
  qcodes/instrument/base.py
  qcodes/instrument_drivers/american_magnetics/AMI430.py
  qcodes/tests/drivers/test_ami430.py
Labels: driver

#2951 AMI430 3D driver: add docstring, extra test for initializing from AMI430 by name
  qcodes/instrument_drivers/american_magnetics/AMI430.py
  qcodes/tests/drivers/test_ami430.py
Labels: driver
