Repository microsoft/Qcodes, pull requests merged in 2021-05, with the labels that each got.

#2972 Support websocket 9
  qcodes/monitor/monitor.py
  requirements.txt
Labels: dependencies, python

#2567 upgrade jedi and parso
  docs_requirements.txt
  requirements.txt
Labels: dependencies

#3023 Keithley 2600: 4 probe current sweep support
  docs/examples/driver_examples/Qcodes example with Keithley 2600.ipynb
  qcodes/instrument_drivers/tektronix/Keithley_2600_channels.py
Labels: driver

#3032 Make wait times in blocking AMI430 field ramps adjustible
  qcodes/instrument_drivers/american_magnetics/AMI430.py
Labels: driver

#3052 Add information about `name` keyword argument of `Measurement` module in relevant docs
  docs/examples/15_minutes_to_QCoDeS.ipynb
  docs/examples/DataSet/Performing-measurements-using-qcodes-parameters-and-dataset.ipynb
Labels: docs

#3034 Keysight VNA P9374A driver
  qcodes/instrument_drivers/Keysight/P9374A.py
Labels: driver

#3063 Updating the doi link in Readme.rst to always point to the latest release
  README.rst
Labels: backport needed
