Repository microsoft/Qcodes, pull requests merged in 2021-06, with the labels that each got.

#3106 fix link to pyvisa intersphinx
  docs/conf.py
Labels: docs

#3118 Alazar ATS drivers: Fix buffer size for mode='TS' and buffers_per_acquisition > 1
  qcodes/instrument_drivers/AlazarTech/ATS.py
Labels: driver

#3095 Loop dataset: do not use hardcoded value to look for default parameter name
  docs/changes/0.27.0.rst
  docs/changes/index.rst
  qcodes/data/data_set.py
Labels: old dataset
